spring:
  datasource:
    url: jdbc:mysql://localhost:3306/football_manager
    username: intelliJ
    password: mypassword

  jpa:
    hibernate:
      ddl-auto: create-drop

    show-sql: true

server:
  error:
    include-stacktrace: never